<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            [ServerBackupTool]ServerBackupTool.Program,
            [ServerBackupTool.API]ServerBackupTool.API.Program,
            [ServerBackupToolInstaller]ServerBackupTool.Installer.Program,
            [ServerBackupTool]ServerBackupTool.Implementations.LoggerServiceWrapper,
            [ServerBackupTool]ServerBackupTool.Services.LoggerService,
            [ServerBackupTool]ServerBackupTool.Functions.ConsoleFunction,
            [ServerBackupTool]ServerBackupTool.Implementations.ConsoleCommandReader,
            [ServerBackupTool.API]ServerBackupTool.API.Implementations.LoggerServiceWrapper,
            [ServerBackupTool.API]ServerBackupTool.API.Services.LoggerService,
            [ServerBackupToolInstaller]ServerBackupTool.Installer.Implementations.LoggerServiceWrapper,
            [*]*.Models.*,
            [*]*.Entities.*,
            [*]*.Values.*,
            [Server Backup Tool.IntegrationTests]*.Helpers.*
          </Exclude>
          <ExcludeByAttribute>
            GeneratedCodeAttribute,
            CompilerGeneratedAttribute
          </ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
