<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            [Server Backup Tool]ServerBackupTool.Program,
            [Server Backup Tool.API]ServerBackupTool.API.Program,
            [Server Backup Tool.Installer]ServerBackupTool.Installer.Program,
            [*]*.Models.*,
            [*]*.Entities.*,
            [*]*.Values.*,
            [Server Backup Tool.IntegrationTests]*.Helpers.*
          </Exclude>
          <ExcludeByAttribute>
            GeneratedCodeAttribute,
            CompilerGeneratedAttribute
          </ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
